<p class="d-flex justify-content-center h5 mt-3 mb-4">Contacto</p>

<div class="container-about ms-3 me-3">

    <p class="h6">Personas que han participado en el proyecto:</p>
        <br>
        <span>
            <u>Jcooldevelopment</u>: Diseño y desarrollo de la app<br>
            Gmail: jcooldevelopment@gmail.com<br>
            
            <br>

            <u>Danimeh</u>: Diseño de la app y logo<br>
            Gmail: jcooldevelopment@gmail.com<br>

            <br>

            <u>Mario Rueda</u>: Beta tester<br>
            Gmail: jcooldevelopment@gmail.com<br>
            
        </span>
        
    
</div>
