<p class="d-flex justify-content-center h5 mt-3 mb-4">Acerca de la App</p>

<div class="container-about ms-3 me-3">

    <p class="h6">Datos Generales</p>

        <span>
            <u>Nombre de la App</u>: FGO Database<br>
            <u>Versión</u>: 1.0 <br>
            <u>Descripción de la aplicación</u>: <br>
            La aplicación FGO Database permite acceder a la información de los servants del juego para móviles Fate/Grand Order
            de una manera fácil y sencilla. Esta aplicación está realizada utilizando tan sólo los datos del servidor NA
            (Norte América) del juego, por lo que los personajes del servidor japonés no se incluirán en esta base de Datos
            hasta que no lleguen al servidor americano. <br><br>
            <u>Autores</u>: <br>
            Jcooldevelopment: Programación y diseño <br>
            Danimeh: Diseño <br>
            Mario A. Rueda: Beta tester
            
        </span>
        <br><br>
    <p class="h6">Finalidad</p>

        <span>
            La presente aplicación se ha realizado principalmente con tres propósitos: <br>
            1. Aprender programación para móviles utilizando uno de los frameworks más modernos. <br>
            2. Ofrecer a los jugadores una aplicación rápida y sencilla con la que consultar los datos 
               referentes al juego.<br>
            3. Ofrecer a los jugadores una base de datos sin que ello conlleve la visualización de ningún spoiler.
        </span>
</div>