<!--HEADER-->

<!--BARRA DE NAVEGACIÓN-->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img class="logo-app" style="text-align: center;" src="https://gamepress.gg/grandorder/sites/grandorder/files/fgo-icon.jpg">
      </a>
      <div class="col-5" style="text-align: center;">
        FGO Database
      </div>
      <!--MENÚ HAMBURGUESA-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acerca-de">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/terminos-y-condiciones">Términos y Condiciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
      <!--FIN MENÚ HAMBURGUESA-->
    </div>
  </nav>

  <!--CONTENIDO-->
<router-outlet></router-outlet>

<!--FOOTER-->
  <div class="footer mt-3">

    <div class="d-flex justify-content-center align-items-center mb-3">
      <a class="navbar-brand" href="">
        <img class="logo-app" style="text-align: center;" src="https://gamepress.gg/grandorder/sites/grandorder/files/fgo-icon.jpg">
        
      </a>
      <div class="col-4" style="text-align: center;">
        FGO Database
      </div>
    </div>

    <ul class="navbar-nav nav-footer d-flex justify-content-evenly align-items-center flex-row mb-3">
      <li class="nav-item">
        <a class="nav-link" href="/acerca-de">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/terminos-y-condiciones">Términos y Condiciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto">Contacto</a>
      </li>
    </ul>

    <div class="rights ps-3 pe-3 pb-4">
      Fate/Grand Order is Copyright Aniplex Inc., DELiGHTWORKS, Aniplex of America and Sony Music Entertainment (Japan) Inc. All images and names owned and trademarked by Aniplex Inc., DELiGHTWORKS, Aniplex of America and Sony Music Entertainment (Japan) Inc. are property of their respective owners.
    </div>

  </div>